# Docker compose env file
# https://docs.docker.com/compose/env-file/
# https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_FILE=docker-compose.yml
COMPOSE_PROJECT_NAME=cskefu.sync

NODE_ENV=development
FEISHU_GROUP_GITHUB_BOTS=
FEISHU_GROUP_W3_BOTS=